

.thumbnail .description {
    color: #7f7f7f;
}

.price {
    font-weight:bold;
    font-size: 16px;
}
.btn-success {
	background-color:#333333;
	border-color:#222222;
}
.label {
	font-size:90%;

}

.navbar {
    border-radius: 0px;
}